/* https://git.generalassemb.ly/seir-1-19/student-resources/tree/main/1_front_end_development/w03d03/student_examples/event_targeting */

body {
    background-color: rgb(15, 82, 15);
}

/* Blackjack */
h1 {
  display: flex;
  justify-content: center;
  margin: 20px auto 0px auto;
  color: rgb(214, 214, 3); 
  text-shadow: black;
}

/* Dealer must Draw on 16 and stand on 17 */
h2 {
  display: flex;
  justify-content: center;
  color: rgb(214, 214, 3); 
  /* color: rgb(212, 4, 4); */
  text-shadow: black;
  font-style: italic;
  align-items: center;
}

/* Dealer */
h3 {
  color: white;
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  /* border: 3px solid rgb(214, 214, 3);  */

}

.buttons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

#deal, #hit, #stand, #split-hand {
  display: flex;
  flex-direction: row;
  background-color: ivory;
  font-size: 20px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 15%;
  border: 1px solid grey;
  transition-duration: 0.2s;
  /* https://www.w3schools.com/css/css3_buttons.asp */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* border: 5px solid grey; */
}

.participant {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-bottom: 5px; */
  color: white;
  /* min-height: 350px; */
}

.player-cards, .dealer-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(214, 214, 3); 
  min-height: 400px;
  min-width: 550px;
  margin-bottom: 15px;
}

.cards {
  display: flex;
  border: 3.5px solid red;
  background-color: ivory;
  background-image: url(b54b517bd52b74fe435fde37f2c1d30f.png);
  background-size: cover;
  min-width: 175px;
  min-height: 250px;
  color: black;
  margin: 10px;
  padding: 2.5% 3% 3% 3.5%;

  /* justify-content: center; */
  /* align-items: center; */
  font-size: 2em;
  /* https://www.w3schools.com/cssref/css3_pr_background-size.asp */
  
}