/* https://git.generalassemb.ly/seir-1-19/student-resources/tree/main/1_front_end_development/w03d03/student_examples/event_targeting */

body {
    background-color: rgb(15, 82, 15);
}

h1 {
  text-align: center;
  margin: 50px auto 0px auto;
  color: rgb(214, 214, 3); 
  text-shadow: black;
}

h2 {
  text-align: center;
  color: rgb(214, 214, 3); 
  /* color: rgb(212, 4, 4); */
  text-shadow: black;
  font-style: italic;
}

h3 {
  color: white;
}

.buttons {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.participant {
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid white;
  margin-bottom: 50px;
  color: white;
}

.cards {
  flex-basis: 8em;
  height: 12em;
  border: 1px solid orange;
  background: blue;
  box-shadow: 2px 2px 4px grey;
  display: grid;
  border-radius: 10%;
  grid-template-columns: .5em 1.5em 4em 1.5em .5em;
  grid-template-rows: 3em 5em 3em;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  grid-template-areas:
    ". . . top ."
    ". . center . ."
    ". bottom . . ."
}
/* 
.dealer-cards, .player-cards {
    flex-basis: 8em;
    height: 12em;
    border: 1px solid orange;
    background: #FBFBFB;
    box-shadow: 2px 2px 4px grey;
    display: grid;
    border-radius: 10%;
    grid-template-columns: .5em 1.5em 4em 1.5em .5em;
    grid-template-rows: 3em 5em 3em;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    grid-template-areas:
      ". . . top ."
      ". . center . ."
      ". bottom . . ."
}

.top {
    grid-area: top;
}
  
.center {
    grid-area: center;
}
  
.bottom  {
    grid-area: bottom;
}

.dealer-cards h5 {
  font-size: 5em;
  margin: 0;
  margin-top: -.3em;
}

.card span {
  color: hotpink;
  font-size: 2em;
}

.card-back span {
  color: rgba(0,0,0,0);
}

.card-back  {
background:
  linear-gradient(135deg, #FBFBFB 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #FBFBFB 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #FBFBFB 25%, transparent 25%),
  linear-gradient(45deg, #FBFBFB 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: mediumseagreen;
  color: rgba(0,0,0,0);
}
*/

/* adapted from: https://leaverou.github.io/css3patterns/#zig-zag  */