/* https://git.generalassemb.ly/seir-1-19/student-resources/tree/main/1_front_end_development/w03d03/student_examples/event_targeting */

body {
    background-color: rgb(15, 82, 15);
}

h1 {
  text-align: center;
  margin: 50px auto 0px auto;
  color: rgb(214, 214, 3); 
  text-shadow: black;
}

h2 {
  text-align: center;
  color: rgb(214, 214, 3); 
  /* color: rgb(212, 4, 4); */
  text-shadow: black;
  font-style: italic;
}

h3 {
  color: white;
}

.buttons {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.participant {
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid white;
  margin-bottom: 50px;
  color: white;
}